.presentContext {
    color: white;
    font-weight: 400;
    position: absolute;
    left: 6%;
    top: 150%;
    font-size: 30px;
}
.galaxy {
    position: absolute;
    right: 20%;
    top: 145%;
    width: 300px;
}