.solarsystempresent {
    color: black;
    background-color: white;
    width: 80%;
    padding: 20px 20px;
    border-radius: 15px;
    font-size: 20px;
    position: absolute;
    right: 7%;
    top: 230%;
    transition: 0.3s;
    border: 2px solid black;
}
.solarsystempresent:hover {
    transition: 0.3s;
    color: white;
    background-color: transparent;
    border: 2px solid white;
}