@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

body {
  background-color: #0E0E0C;
  font-family: Krona one;
  height: 7000px;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border: 1px solid white;
  border-radius: 15px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}

.navbar.active {
  background-color: white;
}